<footer id="footer">
   <div class="container">
      <h2 style="margin: 10px 0"><a href="/">{{ site.title }}</a></h3>
      <h5 style="margin: 0;">{{ site.description }}</h5>    
      <hr>
      <h2 style="margin: 10px 0; color: orange;">Категорії</h2>
      <section class="categories-cloud" style="padding: 10px 0;">        
         {% for cat in site.categories %}
            {% include categorypreview.html %}     
         {% endfor %}   
      </section>
      <hr>
      <h2 style="margin: 10px 0; color: orange;">Контакти</h2>
      <section class="colored-list">
         <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope"></i>&nbsp;{{ site.email }}
         </a>
         <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>&nbsp;{{ site.github_username }}
         </a>
      </section>
      <hr>
      <p class="center">
      	&copy; 2018. Created by Igor Zachchelkin. <a href="/licence/">MIT Licence</a>.
      </p>
      
   </div>

   <script src="/js/jquery.js"></script>
   <script src="/js/master.js"></script>
</footer>