---
title: home
layout: default
---

<header>
	<div style="
		background-color: red
	">
		<h2 style="
			margin: 0;
			text-align: center;
			color: #fff;
			padding: 20px;
		">Потрібні модератори для сайту! Деталі та запитання у групі в Viber.</h2>
	</div>
	<div class="slide">
    	<h1 class="container">{{ site.title }}</h1>
	</div>
</header>

<aside class="content container">
	<ul class="navigation">		
		<li><a href="/feed"><i class="fa fa-newspaper-o"></i>Стрічка новин</a></li>
		<li><a href="/cat"><i class="fa fa-list"></i>Мітки, категорії</a></li>
		<li><a href="/about"><i class="fa fa-info"></i>Про блог</a></li>
	</ul>
</aside>
