---
layout: default
comments: true
---

<aside class="content container" id="content">
	<div class="post-full">
		<h1>{{ page.title }}</h1>
		<ul>
		<li>
			Посилання:&nbsp;<a href="{{ page.url }}">{{ page.url }}</a>
		</li>
		<li>
	    	Категорії:
	    	<ul class="cats">
	  			{% for category in page.categories %}
	  				<li>{{ category }}</li>
	  			{% endfor %}
	  		</ul> 
  		</li> 
  		<li>
      		Дата: {{ post.date | date: "%d/%m/%Y" }}
      	</li>
      	</ul>
		<p class="post-content">
      		{{ page.content }}
		</p>

		{% if true %}
			<div id="disqus_thread"></div>
			<script>

			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://classblog-1.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                            
		{% endif %}
	</div>
</aside>