@import 'defaults.sass'

html
  padding: 0
  margin: 0

body
  padding: 0
  margin: 0
  font-family: Arial
  font-size: 21px
  width: 100%
  overflow-x: hidden
  background-color: #444
  color: #eee

header 
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.3)
  .slide
    background-image: linear-gradient(to bottom, orange, rgba(255, 165, 0, 0.2)), url("../img/slides/1.jpg")
    background-attachment: fixed
    background-size: cover
    background-position: 50% 50%
    padding: 30vh 0
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    display: flex
    h1
      padding: 2%
      color: #fff
      text-align: center

nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: orange
  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    li
      margin: auto
      padding: 10px
      display: flex
      align-items: center
      a
        display: block
        text-decoration: none
        color: #000
        font-weight: bold
        &:hover
          text-decoration: none

aside.content
  padding: 10px
  min-height: 100vh

footer
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  background-color: #333
  width: 100%
  padding: 5px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  margin-top: 20px

@media screen and (max-width: 768px)
  aside.content
    > div img
      height: 300px
    div.post
      width: calc(100% - 20px)

@media screen and (max-width: 560px)
  aside.content > div img
    width: 100%
    padding: 10px 0
    height: 300px