* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: normal; }

hr {
  border-color: #444;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 10px 0; }

img {
  max-width: 100%; }

a {
  color: orange;
  text-decoration: none; }

.center {
  text-align: center; }

section.archive h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  section.archive h1 ul {
    height: 0;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    section.archive h1 ul li {
      display: block; }

section.archive h1 ul.opened {
  height: auto;
  opacity: 1; }

section.categories-cloud ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }
  section.categories-cloud ul li {
    display: block; }

section.navigation {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #333;
  border-radius: 20px; }
  section.navigation a {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #eee;
    padding: 5%;
    margin: 0;
    font-size: 90%;
    font-weight: bolder;
    max-width: 50%;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-align: center; }
    section.navigation a:hover {
      background-color: #444; }
    section.navigation a i {
      width: 100%;
      font-size: 400%;
      display: block;
      color: orange;
      padding: 5%; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.post {
  background-color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: calc(33.33% - 60px); }
  .post > * {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none; }

@media screen and (max-width: 768px) {
  .post {
    width: calc(50% - 40px); } }

@media screen and (max-width: 425px) {
  .post {
    width: calc(100% - 20px); } }

.post-full > * {
  width: 100%; }

.post-full > ul {
  list-style: none;
  overflow-x: auto;
  margin: 0;
  padding: 0; }

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.colored-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px; }
  .colored-list > a {
    display: block;
    color: #333;
    background-color: orange;
    padding: 5px;
    border-radius: 6px;
    margin: 2px; }
